asgiref==3.9.2
boto3==1.40.71
botocore==1.40.71
certifi==2025.10.5
charset-normalizer==3.4.3
cloudinary==1.44.1
crispy-bootstrap5==2025.6
diff-match-patch==20241021
dj-database-url==3.0.1
Django==4.2.26
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-import-export==4.3.14
django-jazzmin==3.0.1
django-storages==1.14.6
django-unfold==0.67.0
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
mutagen==1.47.0
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
s3transfer==0.14.0
signals==0.0.2
six==1.17.0
sqlparse==0.5.3
tablib==3.9.0
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
